<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xktime.model.mappers.user.AppUserMapper">

    <!--    <resultMap id="appUser" type="com.xktime.model.user.po.AppUser">-->
    <!--        <result column="user_id" property="userId"/>-->
    <!--        <result column="user_name" property="userName"/>-->
    <!--        <result column="account" property="account"/>-->
    <!--        <result column="password" property="password"/>-->
    <!--        <result column="phone_number" property="phoneNumber"/>-->
    <!--        <result column="image" property="image"/>-->
    <!--        <result column="sex" property="sex"/>-->
    <!--        <result column="is_certification" property="isCertification"/>-->
    <!--        <result column="is_identity_authentication" property="isIdentityAuthentication"/>-->
    <!--        <result column="status" property="status"/>-->
    <!--        <result column="flag" property="flag"/>-->
    <!--        <result column="region" property="region"/>-->
    <!--        <result column="birthday" property="birthday"/>-->
    <!--        <result column="created_time" property="createTime"/>-->
    <!--    </resultMap>-->

    <insert id="saveUser" parameterType="com.xktime.model.pojo.user.entity.AppUser">
        INSERT INTO app_user(id,user_id,user_name,account,password,phone_number,profile,sex,is_certification,is_identity_authentication,status,flag,region,birthday,created_time)
        VALUES (#{id},#{userId},#{userName},#{account},#{password},#{phoneNumber},#{profile},#{sex},#{isCertification},#{isIdentityAuthentication},#{status},#{flag},#{region},#{birthday},#{createTime})
    </insert>

    <select id="queryByAccount" resultType="com.xktime.model.pojo.user.entity.AppUser">
        SELECT * from app_user WHERE account = #{account}
    </select>

    <select id="queryByUserId" resultType="com.xktime.model.pojo.user.entity.AppUser">
        SELECT * from app_user WHERE user_id = #{userId}
    </select>
</mapper>