<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xktime.model.mysql.mappers.article.VerifiedArticleMapper">
    <insert id="saveArticle" parameterType="com.xktime.model.pojo.article.entity.VerifiedArticle" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO article(title,content,author_id,author_name,channel_id,channel_name,images,labels,likes,collection,comment,views,publish_time,origin)
        VALUES (#{title},#{content},#{authorId},#{authorName},#{channelId},#{channelName},#{images},#{labels},#{likes},#{collection},#{comment},#{views},#{publishTime},#{origin})
    </insert>

    <select id="load" resultType="com.xktime.model.pojo.article.entity.VerifiedArticle">
        SELECT * FROM article
        WHERE #{lastTime} > publish_time
        ORDER BY publish_time DESC
        LIMIT #{size} OFFSET #{pageStartIndex}
    </select>

    <select id="findById" resultType="com.xktime.model.pojo.article.entity.VerifiedArticle">
        SELECT * FROM article WHERE id=#{id}
    </select>

    <select id="removeById">
        DELETE FROM article WHERE id=#{id}
    </select>

    <update id="update" parameterType="com.xktime.model.pojo.article.entity.VerifiedArticle">
        UPDATE user SET title = #{title}, content = #{content}, author_id = #{authorId}, channel_id = #{channelId}, channel_name = #{channelName}, images = #{images}, labels = #{labels}
        WHERE id = #{id}
    </update>
</mapper>