<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xktime.model.mappers.article.ArticleMapper">

    <!--<resultMap type="com.xktime.model.article.pojos.Article" id="articleMapper">-->
        <!--<result column="id" property="id"/>-->
        <!--<result column="title" property="title"/>-->
        <!--<result column="authorId" property="authorId"/>-->
        <!--<result column="authorName" property="authorName"/>-->
        <!--<result column="channelId" property="channelId"/>-->
        <!--<result column="channelName" property="channelName"/>-->
        <!--<result column="layout" property="layout"/>-->
        <!--<result column="flag" property="flag"/>-->
        <!--<result column="images" property="images"/>-->
        <!--<result column="labels" property="labels"/>-->
        <!--<result column="likes" property="likes"/>-->
        <!--<result column="collection" property="collection"/>-->
        <!--<result column="comment" property="comment"/>-->
        <!--<result column="views" property="views"/>-->
        <!--<result column="provinceId" property="provinceId"/>-->
        <!--<result column="cityId" property="cityId"/>-->
        <!--<result column="countyId" property="countyId"/>-->
        <!--<result column="createdTime" property="createdTime"/>-->
        <!--<result column="publishTime" property="publishTime"/>-->
        <!--<result column="syncStatus" property="syncStatus"/>-->
    <!--</resultMap>-->

    <select id="loadArticleListByLocation" resultType="com.xktime.model.article.pojos.Article">
        SELECT * FROM article
        <where>
            <if test="dto.provinceId != null">
              AND article.provinceId = #{dto.provinceId}
            </if>
            <if test="dto.cityId != null">
                AND article.cityId = #{dto.cityId}
            </if>
            <if test="dto.countyId != null">
                AND article.countyId = #{dto.countyId}
            </if>
            <if test="dto.tag != null">
                AND article.authorId = #{dto.tag}
            </if>
        </where>
        <if test="dto.size != null">
            LIMIT #{dto.size}
        </if>
    </select>

    <select id="loadArticleListByIdList" resultType="com.xktime.model.article.pojos.Article">
    </select>
</mapper>