<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xktime.model.mappers.article.CrawlerArticleMapper">

    <insert id="saveArticle" parameterType="com.xktime.model.article.pojos.CrawlerArticle">
        INSERT INTO crwaler_article(title,content,author_name,channel_name,labels,publish_time,origin,url)
        VALUES (#{title},#{content},#{authorName},#{channelName},#{labels},#{publishTime},#{origin},#{url})
    </insert>

    <select id="getUrlCount" resultType="java.lang.Integer">
      SELECT count(*) from crwaler_article WHERE url = #{url}
    </select>

    <select id="load" resultType="com.xktime.model.article.pojos.CrawlerArticle">
        SELECT * FROM crwaler_article
    </select>

    <update id="audit">
        UPDATE crwaler_article SET  status= #{status} WHERE id = #{id};
    </update>
</mapper>