<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xktime.model.mappers.article.CrawlerArticleMapper">

<!--    <resultMap id="crawlerArticle" type="com.xktime.model.article.pojos.CrawlerArticle">-->
<!--        <result column="title" property="title"/>-->
<!--        <result column="content" property="content"/>-->
<!--        <result column="author_name" property="authorName"/>-->
<!--        <result column="channel_name" property="channelName"/>-->
<!--        <result column="labels" property="labels"/>-->
<!--        <result column="publish_time" property="publishTime"/>-->
<!--        <result column="origin" property="origin"/>-->
<!--        <result column="url" property="url"/>-->
<!--        <result column="status" property="status"/>-->
<!--    </resultMap>-->

    <insert id="saveArticle" parameterType="com.xktime.model.article.pojos.CrawlerArticle">
        INSERT INTO crwaler_article(title,content,author_name,channel_name,labels,publish_time,origin,url)
        VALUES (#{title},#{content},#{authorName},#{channelName},#{labels},#{publishTime},#{origin},#{url})
    </insert>

    <select id="getUrlCount" resultType="java.lang.Integer">
      SELECT count(*) from crwaler_article WHERE url = #{url}
    </select>

    <select id="load" resultType="com.xktime.model.article.pojos.CrawlerArticle">
        SELECT * FROM crwaler_article
        ORDER BY publish_time DESC
        LIMIT #{size} OFFSET #{pageStartIndex}
    </select>

    <update id="modifyState">
        UPDATE crwaler_article SET  status= #{status} WHERE id = #{articleId};
    </update>
</mapper>