<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xktime.model.mappers.article.OriginalArticleMapper">

<!--    <resultMap id="originalArticle" type="com.xktime.model.article.pojos.OriginalArticle">-->
<!--        <result column="title" property="title"/>-->
<!--        <result column="content" property="content"/>-->
<!--        <result column="author_name" property="authorName"/>-->
<!--        <result column="channel_name" property="channelName"/>-->
<!--        <result column="labels" property="labels"/>-->
<!--        <result column="publish_time" property="publishTime"/>-->
<!--        <result column="origin" property="origin"/>-->
<!--        <result column="url" property="url"/>-->
<!--        <result column="status" property="status"/>-->
<!--    </resultMap>-->

    <insert id="saveArticle" parameterType="com.xktime.model.article.pojos.OriginalArticle">
        INSERT INTO original_article(title,content,author_name,author_id,channel_name,labels,publish_time,origin,url)
        VALUES (#{title},#{content},#{authorName},#{authorId},#{channelName},#{labels},#{publishTime},#{origin},#{url})
    </insert>


    <select id="load" resultType="com.xktime.model.article.pojos.OriginalArticle">
        SELECT * FROM original_article
        ORDER BY publish_time DESC
        LIMIT #{size} OFFSET #{pageStartIndex}
    </select>

    <update id="modifyState">
        UPDATE original_article SET  status= #{status} WHERE id = #{articleId};
    </update>
</mapper>